<span><%= var.votes.count %></span>
<% if user_signed_in? %>
  <% if var.voted_by? current_user %>
    <%= link_to path, method: :delete, class:"counters mx-2 d-flex align-items-center flex-column my-2" do %>
      <i class="far fa-thumbs-down"></i>
    <% end %>
  <% else %>
    <%= link_to path, method: :post, class:"counters mx-2 d-flex align-items-center flex-column" do %>
      <i class="far fa-thumbs-up"></i>
    <% end %>
    <% end %>
<% end %>
